/* Body */
body, html {
	margin: 0; /* This ensures our site displays all the way to the edge of the browser screen */
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #23C9E5;
}

.overlay {
	height: 100%;
	width: 100%;
	display: block;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 1);
}
  
.overlay-content {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.overlaySubHeading {
	color: #23C9E5 !important;
	width: 700px;
}

/* Video */
#typingVideo {
	position: fixed; /* This fixes our video to the page  */
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%; /* This ensures the video is displayed across the full width of the page */
	z-index: -1;
}

/* Navigation */
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text, 
.spFontColor, #copy {
	color: #d1ef75 !important;
}

.navbar-custom .nav-item .nav-link {
	color: #ababab;
}

.navbar-custom .nav-item:hover .nav-link {
	color: white;
	font-weight: bold;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item .nav-link.active,
.navbar-custom .nav-item:focus .nav-link {
	color: #23C9E5 !important;
	font-weight: bolder;
}

.navbar-custom{
  transition:500ms ease;
  background:transparent;
}
.navbar-custom.scrolled, .end-footer {
  background:#383838;
}

.navHidden {
	visibility: hidden;
}

.shade, nav.navbar {
	background: rgba(56,56,56, 0.6);
}

/* Text over the video */ 
.blockquote {
	margin-top: 38%;
	font-size: 28px;
}

#down-chevron {
	position: relative;
	animation: mymove 2s infinite;
}

@keyframes mymove {
	from {top: 0px;}
	to {bottom: 10px;}
}

.card-header, .input-group-text, .modal-header {
	background: #d1ef75;
}

.modal-body {
	background: #383838;
}

.icons {
	color: #d1ef75;
	font-size: 50px;
}

#plane-rotate {
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari 3-8 */
	transform: rotate(45deg);
}

.btn {
	background: #23C9E5;
}

#Submit_Button {
	color: white;
	-webkit-text-stroke: 0px #383838;
	text-shadow: 0px 1px 3px #383838;
}

/* Button jiggle */
@import "compass/css3";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jiggle {
  cursor: pointer;
  animation: anim 2s ease-in infinite;
  
  &:focus {
    outline: none;
  }
}

@keyframes anim {
  5% {
    transform: scale(1.1, 0.9);
  }
  10% {
    transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  15% {
    transform: scale(1);
  }
}

@media (min-width: 992px) {
	/* change navbar-brand font-weight on hover */
	.navbar-custom a.navbar-brand:hover {
		font-weight: bold;
	}
	
	#ai-brain-3d {
		animation-name: ai-brain-3d-rotate;
		animation-duration: 8s;
		animation-iteration-count: infinite;
	}
	
	@keyframes ai-brain-3d-rotate {
		0%	{transform: rotateY(0deg);}
		100%	{transform: rotateY(360deg);}
	}

	.carousel-image {
		width: 25%;
	}
}

@media (max-width: 991.98px) {
	q {
		font-size: 24px;
	}

	.overlay {
		visibility: hidden;
	}
	
	nav.navbar {
		visibility: visible;
		background: #383838;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-text {
		font-size: 16px;
		font-weight: bolder;
	}

	.blockquote {
		margin-top: 10%;
	}
	
	#down-chevron {
		visibility: hidden;
	}

	.section-image {
		width: 75%;
		margin-left: 14%;
	}

	#linkedin-icon {
		width: 10%;
	}

	#resume-body {
		width: 20%;
	}

	.carousel-indicators {
		display: none;
	}

	.carousel-image {
		width: 50%;
	}
}