/* Body */
body {
	margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
}

/* Navbar */
.nav-item a {
    font-size: 20px;
}

.nav-item a:hover {
    background-color: #5DD9EC;
    font-weight: bold;
}

/* Video */
#Typing_Video {
	position: fixed; /* This fixes our video to the page  */
	min-width: 100%; /* This ensures the video is displayed across the full width of the page */
	z-index: -1;
}

/* Text over the video */ 
.jumbotron {
	margin-top: 35%;
}

#jumbo {
    background-color: rgba(0,0,0, 0.5);
}

/* Paragraph elements */
p {
	letter-spacing: 1px; /* This expands the text slightly */
	font-size: 20px;
}

/* Image elements */
img {
	filter: grayscale(60%); /* This rids our pictures of 75% of their color */
}

/* Submit Button element */
.btn {
	background-color: #d1ef75;
}

/* Paragraph element hover effect */
p:hover {
	color: #00004d;	
    transition: transform 1s;
	transform: scale(1.03);
}

/* Image element hover effects */
img:hover {
	filter: grayscale(0%);   /* Brings back most of the image's color when hovered over */
    /* transition: transform 2s;
	transform: scale(1.2); */
	transition: transform 2s;
	transform: scale(1.2);
}

/* Submit Button element hover effects */
button:hover {
	background-color: #5DD9EC;
}